@model Prototype.Views.PatientView

@{
    ViewBag.Title = "Add Patient";
}

<h2>Create new patient</h2>

<a href="@Url.Action("Index", "Patient")">< Back</a>
<br/>
<br/>


@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Patient Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Initials)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Initials)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Level)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Level)
            </div>

            <p>
                <input type="submit" value="Add patient" />
                <a href="@Url.Action("Index", "Patient")">Cancel</a>
            </p>
        </fieldset>
    </div>
}
