@model Prototype.Web.Models.PatientPageViewModel

@{
    ViewBag.Title = "Patients";
}

<h2>Patients</h2>

@Html.ActionLink("Add Patient", "Create", "Patient")

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Initials</th>
        <th>Level</th>
    </tr>

    @foreach(var patient in Model.Patients)
    {
        <tr>
            <td>@patient.PatientId</td>
            <td>@patient.Name</td>
            <td>@patient.Initials</td>
            <td>@patient.Level</td>
        </tr>
    }

</table>