@model Prototype.Web.Models.SitePageViewModel

@{
    ViewBag.Title = "Site History";
}

<h2>Site History</h2>

<a href="@Url.Action("Index", "Site")">< Back</a> <br/> <br/>

<table>
    <tr>
        <th>Id</th>
        <th>Version</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Actions</th>
    </tr>

    @foreach(var s in Model.Sites)
    {
        <tr>
            <td style="font-size: 11px; color: #bbbbbb;">@s.SiteId</td>
            <td>@s.Version</td>
            <td>@s.Name</td>
            <td>@s.Capacity</td>
            <td>
                <a href="@Url.Action("Restore", "Site", new { id = s.SiteId, version = s.Version })">Restore</a>
            </td>
        </tr>
    }

</table>